@using GymRatApi.Dto

<h3>Opis treningu</h3>
@if (Training != null)
{
    <p>@Training.Description</p>
    <p>@Training.TrainingDuration</p>
    <p>@Training.TrainingDate</p>
    @if (Training.TrainingPart is not null)
    {

        @foreach (var tp in Training.TrainingPart)
        {

           <p>@tp.AmountSeries</p>
           <p>@tp.BodyWeight</p>
           <p>@tp.BreakBetweenSeries</p>
           <p>@tp.Reps</p>
           <p>@tp.ExerciseId</p>
        }
    }
}





@code {
    [Parameter]
    public TrainingDto Training { get; set; }
}
